
<div class="user-auth">
    <div class="signup-form">
  
        <h1 class="form-title">Forgot Password</h1>
  
        <form class="common-form">
            
            <input type="email" class="form-input" name="email" [(ngModel)]="email" placeholder="Enter Registered Email" >
            <button type="button" class="form-button" (click)="forgotPassword()">Send Link</button>

            <div class="mt-4">
                <a routerLink="/login" style="text-decoration: none;">Back To <span class="text-danger">Login</span></a>
            </div>          
        </form>
    </div>
</div>