


       <div class="container mt-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex" style="justify-content:space-evenly;">
              <h3 class="text-center">Result List </h3>
              <button class="btn btn-outline-success" routerLink="/add-result">Add result</button>
            </div>
           
            <hr>
           
            <h5 style="margin-top: 30px;" *ngIf="results.length == 0">No data to display</h5>
         <div class="search-bar"> <input type="text" [(ngModel)]="searchText" placeholder="Search by Roll.no or Name" class="form-control mb-3"></div>  
            <div class="table-responsive mt-3">
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th>Roll.no</th>
                    <th>Name</th>
                    <th>Math</th>
                    <th>English</th>
                    <th>Science</th>
                    <th>Total</th>
                    <th>Percentage</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of results | customFilter: searchText">
                    <td>{{ result.rollno + ')' }}</td>
                    <td>{{ result.name }}</td>
                    <td>{{ result.math }}</td>
                    <td>{{ result.english }}</td>
                    <td>{{ result.science }}</td>
                    <td>{{ result.total }}</td>
                    <td>{{ result.percentage }}%</td>
                    <td>
                      <div class="d-flex">
                        <button class="btn btn-outline-primary" [routerLink]="'/editresult/' + result.id">Edit</button>
                        <button class="btn btn-outline-danger ms-3" (click)="deleteResult(result.id)">Delete</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      